<!-- Flying hotel Section -->
<section id="flying-hotel" class="portfolio section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>Flying Hotel</h2>
    This commercial highlights the very place where the successful holidays and insurance company Saga started : a
    beautiful hotel in Folkestone.

    In order to focus on the creative part of the project and to respect a tight schedule, Absolute Post decided to hire
    Alter Equals Ltd to recreate a faithful version of the hotel. The hotel reconstruction had to be photorealistic.

    The hotel was recreated in 3D by combining HDR photography and photogrammetry with the Enwaii software. Enwaii is a
    software developed by Alter Equals sister's company, Banzai Pipeline Ltd.

    This way the studio could focus on creating the other visual effects of the commercial and specially on integrating
    the flying hotel in every location it visits. In order to do so Alter Equals Ltd delivered high resolution textures
    covering the hotel from all angles and with a neutral lighting. So the hotel could be relighted and rendered from
    any point of view required by the story (any angle, closeup or wide shot). So the hotel could be seen on every
    wheater condition where the lighting varies greatly.
  </div>

  {% include 'portfolio/_video.liquid', video: 'https://player.vimeo.com/video/106021328?title=0&byline=0&portrait=0' %}
</section>
<!-- /Flying hotel Section -->

<!-- Behind-the-scenes Section -->
<section id="behind-the-scenes" class="portfolio section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Behind The Scenes</h2>
    <!--
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    -->
  </div>
  <!-- End Section Title -->

  <div
    class="container"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    <div class="swiper init-swiper">
      {% include 'common/swiper/_swiper-config.liquid' %}

      <div class="swiper-wrapper">
        {% include 'common/swiper/_swiper-slide.liquid', src: 'assets/img/studio/matrix_2_B.jpg' %}

        {% include 'common/swiper/_swiper-slide.liquid', src: 'assets/img/studio/matrix_3_C.jpg' %}

        {% include 'common/swiper/_swiper-slide.liquid', src: 'assets/img/studio/alexander.jpg' %}

        {% include 'common/swiper/_swiper-slide.liquid', src: 'assets/img/studio/harry_potter_4.jpg' %}

        {% include 'common/swiper/_swiper-slide.liquid', src: 'assets/img/studio/batman_begins.jpg' %}

        {% include 'common/swiper/_swiper-slide.liquid', src: 'assets/img/studio/finding_neverland_th02.jpg' %}

        {% include 'common/swiper/_swiper-slide.liquid', src: 'assets/img/studio/2046.jpg' %}

        {% include 'common/swiper/_swiper-slide.liquid', src: 'assets/img/studio/the_prestige_th02.jpg' %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- /Behind-the-scenes Section -->
