<div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
  <h3>Project information</h3>
  <ul>
    <li><strong>Category</strong>: Research / Software</li>
    <li><strong>Client</strong>: Buf Compagnie</li>
    <li><strong>Project date</strong>: 2001-2006</li>
    <li><strong>Project URL</strong>: <a href="http://www.buf.com">www.buf.com</a></li>
  </ul>
</div>
<div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
  <h2>Research and Development</h2>
  <div class="justify-text">
    <p>
      In the early days of my career, I worked in a start-up called Realviz and since acquired by Autodesk. It was a
      spin-off of <strong>INRIA</strong> the French National Instute in Computer Science and Applied Mathematics. I was then
      working in the nascent field of <strong>Computer Vision</strong> with the researchers who actually invented it.
    </p>
    <p>
      Then I moved to Buf Compagnie where I oversaw the mathematical libraries of in-house software, and I implemented a
      complete C++ 3D reconstruction engine capable of photographs calibration (wide baseline), camera and 3D object
      tracking, match moving, optical motion capture. The engine is integrated in the studio's pipeline and was used for
      movie set reconstruction in <strong>The Matrix Reloaded</strong> and <strong>The Matrix Revolutions</strong>.
    </p>
  </div>
  <p>Technical info: <a href="http://www.enwaii.com/product.html">www.enwaii.com/product.html</a></p>
</div>
