{% include 'portfolio/_video.liquid', video: 'https://player.vimeo.com/video/1123133575?title=0&byline=0&portrait=0' %}

<!-- Behind-the-scenes Section -->
<section id="behind-the-scenes" class="portfolio section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Behind The Scenes</h2>
    <!--
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    -->
    {% for member in buf_projects %}
      <h2>{{ member.src }}</h2>
    {% endfor %}
  </div>
  <!-- End Section Title -->

  <div
    class="container"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    <div class="swiper init-swiper">
      {% include 'common/swiper/_swiper-config.liquid' %}

      <div class="swiper-wrapper">
        {% for member in buf_projects %}
          <h2>{{ member.src }}</h2>
          {% include 'common/swiper/_swiper-slide.liquid', src: member.src %}
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- /Behind-the-scenes Section -->
