<!-- Flying hotel Section -->
<section id="flying-hotel" class="portfolio section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>Flying Hotel</h2>
    {% include 'portfolio/_video.liquid',
      video: 'https://player.vimeo.com/video/106021328?title=0&byline=0&portrait=0'
    %}
    <div class="justify-text">
      <p>
        This commercial highlights the very place where the successful holidays and insurance company Saga started : a
        beautiful hotel in Folkestone.

        In order to focus on the creative part of the project and to respect a tight schedule, Absolute Post decided to
        hire Alter Equals Ltd to recreate a faithful version of the hotel. The hotel reconstruction had to be
        photorealistic.

        The hotel was recreated in 3D by combining HDR photography and photogrammetry with the Enwaii software. Enwaii
        is a software developed by Alter Equals sister's company, Banzai Pipeline Ltd.

        This way the studio could focus on creating the other visual effects of the commercial and specially on
        integrating the flying hotel in every location it visits. In order to do so Alter Equals Ltd delivered high
        resolution textures covering the hotel from all angles and with a neutral lighting. So the hotel could be
        relighted and rendered from any point of view required by the story (any angle, closeup or wide shot). So the
        hotel could be seen on every wheater condition where the lighting varies greatly.

        A small selection of the 50 GB of photos taken in order to reconstruct the hotel. To obtain the best quality
        possible, some photos required to be taken from a crane.
      </p>
    </div>
  </div>

  {% include 'common/swiper/_swiper.liquid', swiper_images: flying_hotel %}
</section>
<!-- /Flying hotel Section -->

<!-- Johnny Walker Section -->
<section id="johnny-walker" class="portfolio section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>Where Flavour Is King</h2>
    {% include 'portfolio/_video.liquid',
      video: 'https://player.vimeo.com/video/52486856?title=0&byline=0&portrait=0'
    %}
    <div class="justify-text">
      <p>
        The following HDR shot is one amongst many done by Alter Equals Ltd operators for Where Flavour is King, a
        Johnnie Walker commercial (video above).

        During the three days of shooting done a month before principal photography, VFX supervisor Colin Renshaw for
        Alt VFX and director Mark Molloy for Exit Films had to figure out which castles and which rooms to use in the
        final commercial.

        Colin trusted Alter Equals Ltd to provide his company with all the HDR reference shots they needed for the
        previz and VFX tasks.

        There were so many magnificent rooms in the three castles to shoot that Mark and Colin had a lot narrative and
        artistic choices to discuss. Alter Equals Ltd's operators having great experience in both capture and VFX in
        general, Colin was delighted to simply give them global directives and to have more time to deal with his other
        tasks.

        Alter Equals Ltd stayed dedicated to assist Colin in his choices so he and his team would be able to bring
        Mark's vision to life. At the end of the shot sessions, 90 gigabytes of photos were taken with 5 to 7 exposures
        per shot. Even where the lighting of some rooms of the castles was challenging, Alt VFX got first class shots as
        references thanks to bracketing. Dealing with a large amount of files was not a problem because Enwashot
        automatically sorted the brackets and produced EXR files with linear HDR data ready to use for VFX (Enwashot is
        part of Enwaii software developed by Banzai Pipeline Ltd, Alter Equals Ltd's sister company).

        We were happy to receive the following comment from Colin once the commercial was on air : "the photogrammetry
        stills was a great reference and texture source so that helped heaps".

        In order to experience all the information contained in the HDR photograph displayed below, please move the
        slider under the photograph.
      </p>
    </div>
  </div>
</section>
<!-- /Johnny Walker Section -->
