{% include 'portfolio/_video.liquid', video: 'https://player.vimeo.com/video/1123133575?title=0&byline=0&portrait=0' %}

<!-- Behind-the-scenes Section -->
<section id="behind-the-scenes" class="portfolio section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Behind The Scenes</h2>
  </div>
  <!-- End Section Title -->
  {% assign nb_slides = "2,3,4" | split: "," %}
  {% include 'common/swiper/_swiper.liquid' swiper_images: buf_projects, nb_slides: nb_slides %}

</section>
<!-- /Behind-the-scenes Section -->
