<!-- Portfolio Details Section -->
<section id="portfolio-details" class="portfolio-details section justify-text">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-8">
        {% include 'portfolio/_video.liquid',
          video: 'https://player.vimeo.com/video/57709878?title=0&byline=0&portrait=0'
        %}

        <!-- Behind-the-scenes Section -->
        <section id="behind-the-scenes" class="portfolio section light-background">
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Behind The Scenes</h2>
            <!--
              <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            -->
          </div>
          <!-- End Section Title -->

          <div class="container">
            <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
              <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-movie">Movies</li>
                <li data-filter=".filter-series">Series</li>
                <li data-filter=".filter-commercial">Commercials</li>
              </ul>
              <!-- End Portfolio Filters -->

              <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/the_crown.jpg',
                  filter: 'filter-series',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/the_crown_s2.jpg',
                  filter: 'filter-series',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/catching_fire.jpg',
                  filter: 'filter-movie',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/mandela_long_walk_to_freedom.jpg',
                  filter: 'filter-movie',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/the_monuments_men.jpg',
                  filter: 'filter-movie',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/swath.jpg',
                  filter: 'filter-movie',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/wrath_of_the_titans.jpg',
                  filter: 'filter-movie',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/the_last_stand.jpg',
                  filter: 'filter-movie',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/paris_a_tout_prix.jpg',
                  filter: 'filter-movie',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/smurfs_2.jpg',
                  filter: 'filter-movie',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/twix_ideologies.jpg',
                  filter: 'filter-commercial',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/photogrammetry_medley.jpg',
                  filter: 'filter-commercial',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/nissan_ghost.jpg',
                  filter: 'filter-commercial',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/t_mobile.jpg',
                  filter: 'filter-commercial',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/carls_junior.jpg',
                  filter: 'filter-commercial',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/cod_rezurrection.jpg',
                  filter: 'filter-commercial',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/paris_bords_de_seine.jpg',
                  filter: 'filter-commercial',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/mercedes.jpg',
                  filter: 'filter-commercial',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/hahn_superdry.jpg',
                  filter: 'filter-commercial',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/zicam.jpg',
                  filter: 'filter-commercial',
                  text: '',
                  href: '',
                  title: ''
                %}
                {% include 'common/isotope/_isotope-item.liquid',
                  src: 'assets/img/enwaii/two_years.jpg',
                  filter: 'filter-commercial',
                  text: '',
                  href: '',
                  title: ''
                %}
              </div>
            </div>
          </div>
        </section>
        <!-- /Behind-the-scenes Section -->
      </div>

      <div class="col-lg-4">
        <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
          <h3>Project information</h3>
          <ul>
            <li><strong>Category</strong>: Software</li>
            <li><strong>Client</strong>: Many VFX studios</li>
            <li><strong>Project date</strong>: 01 March, 2020</li>
            <li><strong>Project URL</strong>: <a href="http://www.enwaii.com">www.enwaii.com</a></li>
          </ul>
        </div>
        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
          <h2>Visual Effects Software for Reality Capture</h2>
          <p>
            Enwaii is a <strong>complete photogrammetry pipeline</strong> developed to work smoothly in a VFX studio. It
            fills the gaps between and inside the classic tools and
            <strong>improves productivity and quality</strong> for props and environments reconstruction jobs which are
            two daily tasks in VFX.
            <li>Technical info: <a href="http://www.enwaii.com/product.html">www.enwaii.com/product.html</a></li>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Portfolio Details Section -->
