<!-- Portfolio Details Section -->
<section id="portfolio-details" class="portfolio-details section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-8 order-2 order-lg-1">
        {% include 'portfolio/_details-htw-1.liquid' %}
      </div>

      <div class="col-lg-4 order-1 order-lg-2">
        {% include 'portfolio/_details-htw-2.liquid' %}
      </div>
    </div>
  </div>
</section>
<!-- /Portfolio Details Section -->