<div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
  <h3>Project information</h3>
  <ul>
    <li><strong>Category</strong>: Software</li>
    <li><strong>Client</strong>: Alter Equals</li>
    <li><strong>Project date</strong>: 01 March, 2020</li>
    <li><strong>Project URL</strong>: <a href="http://www.enwaii.com">www.enwaii.com</a></li>
  </ul>
</div>
<div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
  <h2>Software framework for photorealistic 3D Apps creation</h2>
  <div class="justify-text">
    <p>
      VRsatile is a software pipeline to help create 3D photorealistic apps on various devices. It comprises of:
      <ul>
        <li>
          <strong>Photorealtime</strong>: <p>enable the use of VFX quality assets created by ENWAII for realtime interaction on all
          platforms (mobile, web, VR, ...)</p>
        </li>
        <li>
          <strong>Core VRsatile</strong>: <p>enhance interaction capabilities of systems including VR heasets, touchscreens, gesture
          recognition engines and any combinations of these systems (to improve installations requiring asymetrical
          gameplay, immersion via holodeck approach, ...)</p>
        </li>
      </ul>
    </p>
  </div>
  <p>Technical info: <a href="http://www.enwaii.com/product.html">www.enwaii.com/product.html</a></p>
</div>
