<div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
  <h3>Project information</h3>
  <ul>
    <li><strong>Category</strong>: Reality Capture Services</li>
    <li><strong>Client</strong>: Saga, Johnnie Walker</li>
    <li><strong>Project date</strong>: 2001-2006</li>
    <li><strong>Project URL</strong>: <a href="http://www.alter-equals.com">www.alter-equals.com</a></li>
  </ul>
</div>
<div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
  <h2>Services</h2>
  <div class="justify-text">
    <p>
      The business specializes in high-end image capture and 3D reconstruction for visual effects and digital
      environments. Using advanced techniques such as <strong>High Dynamic Range</strong> (HDR) photography,
      photogrammetry, and proprietary software, it delivers precise, relightable textures and spatial data optimized for
      cinematic storytelling and VFX workflows.
    </p>
    <p>
      The team handles large-scale data acquisition, including complex lighting conditions and architectural detail,
      enabling clients to visualize, render, and manipulate scenes from any angle or lighting scenario with
      production-grade fidelity.
    </p>
  </div>
  <p>Technical info: <a href="http://www.enwaii.com/product.html">www.enwaii.com/product.html</a></p>
</div>
