<!-- From Virtual To Reality Section -->
<section id="from-virtual-to-reality" class="portfolio section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>From Virtual To Reality</h2>
    <h3>Royal Academy of Arts / Jonathan Yeo Studio</h3>
    <h4>Google Arts and Culture / Factory 42</h4>

    {% include 'portfolio/_video.liquid', video: 'https://www.youtube.com/embed/zXJtxSpFdro?start=5' %}

    <p>
      In celebration of its 250th birthday, London's Royal Academy of Arts decided to explore VR technology as part of
      its From Life exhibition.

      From Life presents the past, present and future practices of life drawing at the Royal Academy.

      Portrait artist Jonathan Yeo was one of the 6 artists selected by the RA to create a piece of Art for the
      exhibition. His masterpiece Homage to Paolozzi is the first self-portrait created in virtual reality then realised
      in bronze as a sculpture. This hybrid approach of painting and sculpture done in Tilt Brush was made possible
      thanks to the direct collaboration between Yeo and Google Arts and Culture.

      Google Arts and Culture decided to create a 360 immersive movie to explain Jonathan's vision and the process in
      more details. The company commissioned Factory 42 to produce it with Dan Smith as the director.

      Alter Equals took charge of the photorealistic 3D reconstruction of the iconic studio of Jonathan Yeo in Chelsea,
      which was previously also famous sculptor Eduardo Paolozzi's studio.

      It was a pleasure for our team to recreate such an interesting an nice looking place. Witnessing Jonathan visiting
      his own studio in virtual reality for the first time was a special moment for us, both exciting and a bit
      intimidating. His very pleased reaction and feedback provided Alter Equals' team great motivation to deliver the
      best possible final version of the studio for the movie. The team, for instance, took great care at reproducing
      the many light sources in the studio because Jonathan insisted on the importance of them during his painting
      sessions.

      The final 360 video is published on Google Arts and Culture Youtube channel and is also embedded in this webpage.
      We are very proud to be part of this project and would not dare to explain Jonathan Yeo's process ourself. We
      encourage you to look at the video with Jonathan Yeo himself explaining the project and to enjoy his masterpiece
      exhibited in virtual reality directly in his studio. Magnam dolores commodi suscipit. Necessitatibus eius
      consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui
      impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
    </p>
  </div>
  <!-- End Section Title -->

  {% include 'common/swiper/_swiper.liquid', swiper_images: buf_projects %}
</section>
<!-- /From Virtual To Reality Section -->

<!-- Emilies -->
<section id="emilies" class="portfolio section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Emilies (Les Temoins)</h2>
    <h3>Cineteve / France Televisions</h3>

    {% include 'portfolio/_video.liquid', video: 'https://player.vimeo.com/video/249821591?byline=0&amp;portrait=0' %}

    <p>
      Alter Equals is proud to be chosen to develop the HTC Vive version of the VR Prequel of season 2 of the acclaimed
      TV serie Les Temoins, broadcasted by France Televisions in France and BBC in UK (under the name Witnesses).

      To launch season 2 of the acclaimed TV serie Les Temoins, Cineteve and France Televisions decided to create a VR
      prequel called Liberez Emilies.

      Few days before the start of season 2, people were invited on social networks either to download the mobile
      version of the experience, or to book a ticket for the escape room "La Piece" in Paris, hosting the HTC Vive
      version of the experience.

      In both case, the experience is cooperative and require two people in order to unlock Emilie's secret, the first
      victim of the killer purchased by the police in season 2.

      The HTC Vive experience is cooperative escape game with a strong narrative side related to Emilie's secret. Both
      player are in the same room, but one is in VR and the other one is the real room. More about the story can't be
      tell to ensure the surprise is intact for the audience ...

      Alter Equals took charge of programming the whole HTC experience, with cooperation of Exzeb and Cineteve taking
      charge of the artistic and narrative parts of the project.

      The VR room is a 1:1 reconstruction of the real room of the escape game , with some twists ... (IRL room by
      Labsterium, digital model by Exzeb). In order to align the virtual room and the real room, Alter Equals had to
      develop MagnetAll, a custom calibration system enabling the VR player to interact in VR with the real room without
      controllers.

      Alter Equals also developed Storymmersive, a interactive storytelling system adapting the story depending on
      players' actions. Storymmersive's flexibility also enabled Cineteve team to modify the narrative until the last
      few days before the release date. So the story could evolve depending on all teams gained experience with this new
      medium.

      Last but not least, Alter Equals developed a custom particle technology mixed with motion capture data in order to
      display the dead Emilie the way Cineteve desired.
    </p>
  </div>
  <!-- End Section Title -->

  {% include 'common/swiper/_swiper.liquid', swiper_images: buf_projects %}
</section>
<!-- /Emilies -->

<!-- Cinecitta -->
<section id="cinecitta" class="portfolio section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Cinecitta World</h2>

    <p>
      Alter Equals was in charge of capturing and recreating in 3D a dozen of buildings with all details and high
      resolution textures for Cinecitram, a ride attraction of Cinecitta World theme park.

      Kazoo Creative hired Alter Equals Ltd to recreate more than 100 meters of street in all details including more
      than a dozen of buildings, road, pavements and signs. Exact nature of the buildings is not explained to avoid to
      spoil the attraction for Cinecitta World's visitors.

      Here is Cinecitta World's description of the attraction: "The IMMERSIVE TUNNEL attraction consists of a series of
      cars that resemble a classic tourist tram. You’ll be surrounded by a screen upon which an original and thrilling
      3D film will be projected."

      Because the immersive tunnel is a high resolution panoramic and 3D projection, it was not possible to deliver all
      of these features using a conventional camera shooting. So all the buildings had to be recreated in high quality
      photorealistic 3D by Alter Equals Ltd.

      Once the street was recreated, Alter Equals Ltd delivered all the models and textures to Kazoo Creative. With
      those assets, Kazoo Creative and its partners took charge of the ride animation.
    </p>
  </div>
  <!-- End Section Title -->

  {% include 'common/swiper/_swiper.liquid', swiper_images: buf_projects %}
</section>
<!-- /Cinecitta -->
