<!-- From Virtual To Reality Section -->
<section id="from-virtual-to-reality" class="portfolio section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>From Virtual To Reality</h2>

    {% include 'portfolio/_video.liquid', video: 'https://www.youtube.com/embed/zXJtxSpFdro?start=5' %}

    <p>
      To mark its 250th anniversary, the <strong>Royal Academy of Arts</strong> commissioned
      <strong>Jonathan Yeo</strong> to create Homage to Paolozzi, the first self-portrait sculpted in VR and cast in
      bronze. <strong>Google Arts &amp; Culture</strong> produced a 360 &deg; film about the project. My business
      recreated Yeo &apos; s Chelsea studio in photorealistic 3D. The final video is available on the Google Arts &amp;
      Culture YouTube channel.
    </p>
  </div>
  <!-- End Section Title -->
  {% assign nb_slides = "2,2,3,4" | split: "," %}
  {% include 'common/swiper/_swiper.liquid', swiper_images: buf_projects, nb_slides: nb_slides %}
</section>
<!-- /From Virtual To Reality Section -->

<!-- Emilies -->
<section id="emilies" class="portfolio section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Emilies (Les Temoins)</h2>

    {% include 'portfolio/_video.liquid', video: 'https://player.vimeo.com/video/249821591?byline=0&amp;portrait=0' %}

    <p class="mb-4">
      <!-- TO FIX IN CSS -->
      To launch season 2 of <strong>Les T&eacute;moins</strong> (Witnesses),
      <strong>France T&eacute;l&eacute;visions</strong> created a virtual reality (VR) prequel titled Lib&eacute;rez
      Emilie. The experience, available as a VR escape room in Paris, required two players, one in VR and one in the
      physical room, to uncover the secret of Emilie, the killer&apos;s first victim.
    </p>
    <p>
      My business developed the entire escape room experience, including the VR environment, interaction systems, and
      narrative logic:
    </p>
    <ul>
      <li>
        We built a 1:1 virtual replica of the physical escape room, requiring precise spatial alignment between
        real-world objects and their digital counterparts
      </li>
      <li>
        To enable seamless interaction without controllers, we developed MagnetAll, a custom calibration system that
        allowed the VR player to interact naturally with physical props and surfaces
      </li>
      <li>
        We created Storymmersive, a dynamic storytelling engine that adapted the narrative in real time based on player
        decisions and timing, allowing for branching paths and last-minute script updates.
      </li>
      <li>
        To visualize Emilie&apos;s presence, we engineered a custom particle system blended with motion capture data,
        delivering a haunting and emotionally resonant moment in the experience.
      </li>
    </ul>
    <p>
      The result was a tightly integrated, cooperative VR experience that merged physical and virtual storytelling in a
      way that was both technically ambitious and narratively immersive.
    </p>
  </div>
  <!-- End Section Title -->
  {% assign nb_slides = "2,2,3,4" | split: "," %}
  {% include 'common/swiper/_swiper.liquid', swiper_images: buf_projects, nb_slides: nb_slides %}
</section>
<!-- /Emilies -->

<!-- Cinecitta -->
<section id="cinecitta" class="portfolio section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Cinecitt&agrave; World</h2>

    <p>
      My business recreated over 100 meters of street, including a dozen buildings, road, pavements, and signage, for
      Cinecitram, a ride at <strong>Cinecitt&agrave World theme park</strong>. Due to the immersive tunnel&apos;s high-resolution
      panoramic 3D projection, traditional filming wasn&apos;t feasible. Instead, the entire environment was captured and
      rebuilt in photorealistic 3D with detailed textures. Once completed, all assets were delivered for integration
      into the ride&apos;s animation system.
    </p>
  </div>
  <!-- End Section Title -->
  {% assign nb_slides = "2,2,3,4" | split: "," %}
  {% include 'common/swiper/_swiper.liquid', swiper_images: buf_projects, nb_slides: nb_slides %}
</section>
<!-- /Cinecitta -->
