<!-- Flying hotel Section -->
<section id="flying-hotel" class="portfolio section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>Flying Hotel</h2>
    {% include 'portfolio/_video.liquid',
      video: 'https://player.vimeo.com/video/106021328?title=0&byline=0&portrait=0'
    %}
    <div class="justify-text">
      <p>
        This commercial highlights the very place where the successful holidays and insurance company
        <strong>Saga</strong> started : a beautiful hotel in Folkestone.
      </p>
      <p>
        The business recreated a faithful 3D version of the hotel that could be relighted and rendered from any point of
        view and every wheater condition required by the story.
      </p>
    </div>
    {% assign nb_slides = "1,2,2" | split: "," %}
    {% include 'common/swiper/_swiper.liquid', swiper_images: flying_hotel, nb_slides: nb_slides %}
    <p>
      A small selection of the 50 GB of photos taken in order to reconstruct the hotel. To obtain the best quality
      possible, some photos required to be taken from a crane.
    </p>
  </div>
</section>
<!-- /Flying hotel Section -->

<!-- Johnny Walker Section -->
<section id="johnny-walker" class="portfolio section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>Where Flavour Is King</h2>
    {% include 'portfolio/_video.liquid',
      video: 'https://player.vimeo.com/video/52486856?title=0&byline=0&portrait=0'
    %}
    <div class="justify-text">
      <p>
        The business captured HDR imagery for the
        <strong>Johnnie Walker</strong> commercial &quot;Where Flavour is King&quot; supporting VFX supervisor Colin
        Renshaw and director Mark Molloy during a three-day pre-shoot in Prague.
      </p>
      <p>
        We photographed three castles, producing 90 GB of bracketed exposures, which were automatically processed into
        EXR files using our in-house software Enwashot. Despite challenging lighting, the team delivered high-quality
        references, earning praise from Colin, who noted the photogrammetry stills were invaluable for textures and
        visual planning.
      </p>

      {% include 'common/hdr/_hdr.liquid' %}

      <p>
        In order to experience all the information contained in the HDR photograph displayed below, please move the
        slider under the photograph.
      </p>
    </div>
  </div>
</section>
<!-- /Johnny Walker Section -->
