<div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
  <h3>Project information</h3>
  <ul>
    <li><strong>Category</strong>: Software</li>
    <li><strong>Client</strong>: Sky</li>
    <li><strong>Project date</strong>: 01 March, 2020</li>
    <li>
      <strong>App Stores</strong>:
      <a href="https://www.meta.com/fr-fr/experiences/hold-the-world/6696125890453301/">Meta</a>,
      <a href="https://apps.apple.com/us/app/hold-the-world/id6473619122">Apple</a>
    </li>
  </ul>
</div>
<div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
  <h2>Virtual Reality Experience</h2>
  <div class="justify-text">
    <p>
      Alter Equals, the company I founded, is thrilled to be leading the creation of the photorealistic environments for
      Sky&apos;s Hold The World VR experience relying on our team's photogrammetry expertise and technology.

      In this experience, Sky and Sir David Attenborough will take people behind the glass at London&apos;s Natural
      History Museum in a world-first interactive virtual reality experience. Users will get
      <q>hands-on</q> access to rare objects, while a three-dimensional hologram of Sir David offers his own unique
      insight on each specimen in a one-on-one interactive experience.
    </p>
  </div>
  <li>Technical info: <a href="#">www.enwaii.com</a></li>
</div>
<img
  src="assets/img/portfolio/details/hold-the-world-volumetric-capture.jpg"
  style="width: 100%; height: auto;"
>
