<!-- Behind-the-scenes Section -->
<section id="behind-the-scenes" class="portfolio section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Photorealistic App on Tablet, Phones</h2>
    {% include 'portfolio/_video.liquid', video: 'https://player.vimeo.com/video/145815135?byline=0&amp;portrait=0' %}

    <!--
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    -->
  </div>
  <!-- End Section Title -->

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Virtual Reality App</h2>
    {% include 'portfolio/_video.liquid', video: 'https://player.vimeo.com/video/250458494?byline=0&amp;portrait=0' %}

    <!--
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    -->
  </div>
  <!-- End Section Title -->
</section>
<!-- /Behind-the-scenes Section -->
