<div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
  <h3>Project information</h3>
  <ul>
    <li><strong>Category</strong>: Creative Technology</li>
    <li><strong>Client</strong>: Google, France 2, Cinecitta</li>
    <li><strong>Project date</strong>: 2001-2006</li>
    <li><strong>Project URL</strong>: <a href="http://www.buf.com">www.buf.com</a></li>
  </ul>
</div>
<div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
  <h2>Research and Development</h2>
  <div class="justify-text">
    <p>
      I created a creative technology studio specializing in immersive storytelling, and interactive virtual
      experiences. With a unique blend of artistic sensitivity and technical precision, the company transforms
      real-world environments and narratives into compelling digital formats for cultural institutions, entertainment
      producers, and theme parks.
    </p>
  </div>
  <p>Technical info: <a href="http://www.enwaii.com/product.html">www.enwaii.com/product.html</a></p>
</div>
