<main class="main">

{% include 'portfolio/_title.liquid', title: title %}

<!-- Portfolio Details Section -->
<section id="portfolio-details" class="portfolio-details section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

        <div class="col-lg-8">

        <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
            <iframe
            src="https://player.vimeo.com/video/57709878?title=0&byline=0&portrait=0"
            title="Reality Capture Software"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;"
            allowfullscreen
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        <!-- Behind-the-scenes Section -->
        <section id="behind-the-scenes" class="portfolio section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
            <h2>Behind The Scenes</h2>
            <!--
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            -->
            </div><!-- End Section Title -->

            <div class="container">

            <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-movie">Movies</li>
                <li data-filter=".filter-commercial">Commercials</li>
                </ul><!-- End Portfolio Filters -->

                <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-movie">
                    <div class="portfolio-content h-100">
                    <img src="assets/img/portfolio/finance-1.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <p>$15B AUM Hedge Fund</p>
                        <a href="https://symmetryinvestments.com" title="Symmetry Investments" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 col-6 portfolio-item isotope-item filter-commercial">
                    <div class="portfolio-content h-100">
                    <img src="assets/img/portfolio/finance-2.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <p>$3B AUM Hedge Fund</p>
                    </div>
                    </div>
                </div><!-- End Portfolio Item -->

                </div>

            </div>
        
            </div>

            </section><!-- /Behind-the-scenes Section -->

        </div>

        <div class="col-lg-4">
        <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
            <h3>Project information</h3>
            <ul>
            <li><strong>Category</strong>: Software</li>
            <li><strong>Client</strong>: ASU Company</li>
            <li><strong>Project date</strong>: 01 March, 2020</li>
            <li><strong>Project URL</strong>: <a href="#">www.enwaii.com</a></li>
            </ul>
        </div>
        <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
            <h2>Visual Effects Software for Reality Capture </h2>
            <p>
            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
            <li>Technical info her: <a href="#">www.enwaii.com</a></li>

            </p>
        </div>
        </div>

    </div>

    </div>

</section><!-- /Portfolio Details Section -->

</main>