<!DOCTYPE html>
<html lang="en">

{% include 'common/_head.liquid', title: "Fabien Micallef" %}

<body class="index-page">

  {% include 'common/_header.liquid' %}
  {% include 'index/main.liquid' %}

  {% include 'common/_footer.liquid' %}

  {% include 'common/_bottom.liquid' %}

</body>

</html>