<!DOCTYPE html>
<html lang="en">

{% include '_head.liquid' %}

<body class="index-page">

  {% include '_header.liquid' %}
  {% include 'index/main.liquid' %}

  {% include '_footer.liquid' %}

  {% include '_bottom.liquid' %}

</body>

</html>