{%- assign title = "Enwaii" -%}

<!DOCTYPE html>
<html lang="en">

{% include 'common/_head.liquid', title: title %}

<body class="portfolio-details-page">

  {% include 'common/_header.liquid' %}

  {% include 'portfolio/main.liquid', title: title %}

  {% include 'common/_footer.liquid' %}

  {% include 'common/_bottom.liquid' %}

</body>

</html>