<!-- About Section -->
<section id="about" class="about section justify-text">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
    <h2>About</h2>
    <p>My specialty lies in developing customized solutions to address quantitative challenges, utilizing state-of-the-art mathematical techniques. Throughout my journey, I have successfully resolved a diverse range of issues spanning scientific simulation, computer vision, and quantitative finance.</p>
    </div><!-- End Section Title -->

</section><!-- /About Section -->