<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Clients</h2>
  </div>
  <!-- End Section Title -->

  {% assign nb_slides = "3,4,5" | split: "," %}
  {% include 'common/swiper/_swiper.liquid', swiper_images: clients, nb_slides: nb_slides %}
</section>
<!-- /Testimonials Section -->
