<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
    <h2>Clients</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
        {
            "loop": true,
            "speed": 600,
            "autoplay": {
            "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
            "el": ".swiper-pagination",
            "type": "bullets",
            "clickable": true
            },
            "breakpoints": {
            "320": {
                "slidesPerView": 3,
                "spaceBetween": 1
            },
            "1200": {
                "slidesPerView": 5,
                "spaceBetween": 1
            }
            }
        }
        </script>
        <div class="swiper-wrapper">

        <div class="swiper-slide">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/client-1.png" class="testimonial-img" alt="">
            </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/client-2.png" class="testimonial-img" alt="">
            </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/client-3.png" class="testimonial-img" alt="">
            </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/client-4.png" class="testimonial-img" alt="">
            </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/client-5.png" class="testimonial-img" alt="">
            </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/client-6.png" class="testimonial-img" alt="">
            </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/client-7.png" class="testimonial-img" alt="">
            </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
            <div class="testimonial-item">
            <img src="assets/img/testimonials/client-8.png" class="testimonial-img" alt="">
            </div>
        </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
    </div>

    </div>

</section><!-- /Testimonials Section -->