<main class="main">

{% include 'index/_hero.liquid' %}

{% include 'index/_about.liquid' %}

{% include 'index/_portfolio.liquid' %}

{% include 'index/_resume.liquid' %}

{% include 'index/_testimonials.liquid' %}

{% include 'index/_contact.liquid' %}

</main>